* {
    margin: 0;
    padding: 0;
   
}
body{
    background: linear-gradient(130deg, lightblue 30%, lightpink, lightyellow);
}

.intro {
    text-align: center;
    font-size: xx-large;
    padding: 2%;
    color: cornflowerblue;
}

.in {
    text-align: center;
    margin-top: 10px;
    font-size: medium;
    font-style: italic;
    padding: 0%;
    justify-content: left;
}
.para{
    text-align: center;
    display: flow-root;
}
h2{
    text-align: center;
    display: inline;

}

/* .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    justify-items: center;
    margin: 0;
    padding: 0;
}

/* The Picture Frame */
/* .gallery-frame {
    padding: .5rem;
    text-align: center;
    color: #d9d9d9;
    border: 2px solid black;
} */

/* The Images */
/* img {

    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.25s ease-in-out;
} */

/* img:hover {
    opacity: .7;
} */ */



/* .info {
     display: block;
      margin: 0 auto;
      width: 10%
} */

/* h1 {
    display: inline;
    font-size: 2em;
  margin-left: 20%;
    font-weight: bold;
    color: blueviolet;
} */



p{
    text-align: center;
    font-size: 20px;
    color: rgb(247, 163, 6);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    
}
p:hover{
    color: rgb(8, 8, 8);
}

#demo h1 {
    display: flex;
      justify-content: center;

}

#demoImg{
     display: block;
      margin: 0 auto;
      width: 30%;
      border-radius: 60%;

}
/*Basic structure of slider*/
.container{
    width: 500px;
    position:relative;
    transform: translate(-50%,-50%);
    margin-top: 20%;
    margin-left: 50%;
    overflow: hidden;
    border: 10px solid #ffffff;
    border-radius: 8px;
    box-shadow: -1px 5px 15px black;
    align-items: center;
    text-align: center;
}

/*Area of images*/
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 20s infinite;
}

img{
    /* width: 100%; */
    object-fit: cover;
}
/*Animation activated by keyframes*/
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
#about{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer{
    text-align: center;
    font-size: small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}